<%- include("partials/header"); -%>

<section id="chair-card">


<div class="card-deck" >
<div class="row row-cols-1 row-cols-md-4 chair-card" >
  <div class="col mb-5" >
    <div class="card h-200" style="border-radius: 10px";>
      <a href="/shop-chair/1"><img src="https://images.pexels.com/photos/1350789/pexels-photo-1350789.jpeg?cs=srgb&dl=pexels-eric-montanah-1350789.jpg&fm=jpg"  class="card-img-top chair-img" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title" id="head" style="font-weight: 400;">Colour Padded Chair</h5>
        <p id="p-shopchair" class="card-text">$ 399.00</p>
      </div>
    </div>
  </div>
  <div class="col mb-5">
    <div class="card h-100" style="border-radius: 10px";>
      <a href="/shop-chair/2"><img src="https://image.freepik.com/free-photo/blue-white-chair_1203-2058.jpg" class="card-img-top chair-img " alt="..."></a>
      <div class="card-body">
        <h5 class="card-title" id="head" style="font-weight: 400;">Bistro Chair</h5>
        <p id="p-shopchair" class="card-text">$ 215.00</p>
      </div>
    </div>
  </div>
  <div class="col mb-5">
    <div class="card h-100" style="border-radius: 10px";>
        <a href="/shop-chair/3"><img src="https://images.pexels.com/photos/2082090/pexels-photo-2082090.jpeg?cs=srgb&dl=pexels-dmitry-zvolskiy-2082090.jpg&fm=jpg" class="card-img-top chair-img" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title" id="head" style="font-weight: 400;">Wingback Chair</h5>
        <p id="p-shopchair" class="card-text">$ 1499.00</p>
      </div>
    </div>
  </div>
  <div class="col mb-5">
    <div class="card h-100" style="border-radius: 10px";>
      <a href="/shop-chair/4"><img src="https://images.pexels.com/photos/106839/pexels-photo-106839.jpeg?cs=srgb&dl=pexels-mike-106839.jpg&fm=jpg" class="card-img-top chair-img" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title" id="head" style="font-weight: 400;">Wooden Lounger</h5>
        <p id="p-shopchair" class="card-text">$ 155.00</p>
      </div>
    </div>
  </div>
  <div class="col mb-5">
    <div class="card h-100" style="border-radius: 10px";>
      <a href="/shop-chair/5"><img src="https://images.pexels.com/photos/1957478/pexels-photo-1957478.jpeg?cs=srgb&dl=pexels-lisa-fotios-1957478.jpg&fm=jpg" class="card-img-top chair-img" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title" id="head" style="font-weight: 400;">Rolling Armchair</h5>
        <p id="p-shopchair" class="card-text" >$ 279.00</p>
      </div>
    </div>
  </div>
  <div class="col mb-5">
    <div class="card h-100" style="border-radius: 10px";>
      <a href="/shop-chair/6"><img src="https://image.freepik.com/free-photo/blue-chair-room_53876-88595.jpg" class="card-img-top chair-img" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title" id="head" style="font-weight: 400;">Genoa Wing Chair</h5>
        <p id="p-shopchair" class="card-text" >$ 819.00</p>
      </div>
    </div>
  </div>
  <div class="col mb-5">
    <div class="card h-100" style="border-radius: 10px";>
      <a href="/shop-chair/7"><img src="https://image.freepik.com/free-photo/comfy-wing-chair-carpenter-s-workshop_181624-25989.jpg" class="card-img-top chair-img" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title" id="head" style="font-weight: 400;">Studio Chair</h5>
        <p id="p-shopchair" class="card-text">$ 121.00</p>
      </div>
    </div>
  </div>
  <div class="col mb-5">
    <div class="card h-100" style="border-radius: 10px";>
      <a href="/shop-chair/8"><img src="https://image.freepik.com/free-photo/modern-leather-armchair-studio_23-2148422265.jpg" class="card-img-top chair-img" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title" id="head" style="font-weight: 400;">Egg Leather Chair</h5>
        <p id="p-shopchair" class="card-text">$ 1,419.00</p>
      </div>
    </div>
  </div>
  <div class="col mb-5">
    <div class="card h-100" style="border-radius: 10px";>
      <a href="/shop-chair/9"><img src="https://image.freepik.com/free-photo/office-chair_1203-2719.jpg" class="card-img-top chair-img" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title" id="head" style="font-weight: 400;">Desk Chair</h5>
        <p id="p-shopchair" class="card-text">$ 279.00</p>
      </div>
    </div>
  </div>
  <div class="col mb-5">
    <div class="card h-100" style="border-radius: 10px";>
        <a href="/shop-chair/10"><img src="https://images.pexels.com/photos/2762247/pexels-photo-2762247.jpeg?cs=srgb&dl=pexels-hormel-2762247.jpg&fm=jpg" class="card-img-top chair-img" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title" id="head" style="font-weight: 400;">Windsor Chair</h5>
        <p id="p-shopchair" class="card-text">$ 180.00</p>
      </div>
    </div>
  </div>

</div>
</div>




</section>


<%- include("partials/footer"); -%>
