<%- include("partials/header"); -%>


<section id="chair-card">
<div class="card-deck" >
<div class="row row-cols-1 row-cols-md-4 chair-card" >
  <div class="col mb-5" >
    <div class="card h-200" style="border-radius: 10px";>
      <a href="/shop-sofa/11"><img src="https://image.freepik.com/free-photo/comfortable-pillow-sofa_74190-10005.jpg"  class="card-img-top chair-img" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title" id="head">2 Seater Blue Sofa with Teawood Frame</h5>
        <p id="p-shopchair" class="card-text">$ 189.00</p>
      </div>
    </div>
  </div>
  <div class="col mb-5">
    <div class="card h-100" style="border-radius: 10px";>
      <a href="/shop-sofa/12"><img src="https://image.freepik.com/free-photo/decoration-livingroom-interior_74190-5758.jpg" class="card-img-top chair-img " alt="..."></a>
      <div class="card-body">
        <h5 class="card-title" id="head">2.5 Seater Tuxedo Blue Sofa</h5>
        <p id="p-shopchair" class="card-text">$ 215.00</p>
      </div>
    </div>
  </div>
  <div class="col mb-5">
    <div class="card h-100" style="border-radius: 10px";>
        <a href="/shop-sofa/13"><img src="https://cdn.pixabay.com/photo/2017/08/06/15/44/house-2593570_1280.jpg" class="card-img-top chair-img" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title" id="head">2.5 Seater Lady Bug Blue Sofa</h5>
        <p id="p-shopchair" class="card-text">$ 499.00</p>
      </div>
    </div>
  </div>
  <div class="col mb-5">
    <div class="card h-100" style="border-radius: 10px";>
      <a href="/shop-sofa/14"><img src="https://images.pexels.com/photos/276528/pexels-photo-276528.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top chair-img" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title" id="head">Indoor Resort-Style Barwon Sofa</h5>
        <p id="p-shopchair" class="card-text">$ 350.00</p>
      </div>
    </div>
  </div>
  <div class="col mb-5">
    <div class="card h-100" style="border-radius: 10px";>
      <a href="/shop-sofa/15"><img src="https://image.freepik.com/free-photo/pillow-sofa-decoration-interior-living-room-area_74190-12634.jpg" class="card-img-top chair-img" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title" id="head">English Rolled Arm Sofa</h5>
        <p id="p-shopchair" class="card-text">$ 279.00</p>
      </div>
    </div>
  </div>
  <div class="col mb-5">
    <div class="card h-100" style="border-radius: 10px";>
      <a href="/shop-sofa/16"><img src="https://image.freepik.com/free-photo/modern-living-room-interior-background-dark-wall-scandinavian-style-3d-illustration-3d-rendering_208753-98.jpg" class="card-img-top chair-img" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title" id="head">Melrose Chaise Sofa</h5>
        <p id="p-shopchair" class="card-text">$ 819.00</p>
      </div>
    </div>
  </div>
  <div class="col mb-5">
    <div class="card h-100" style="border-radius: 10px";>
      <a href="/shop-sofa/17"><img src="https://image.freepik.com/free-photo/horizontal-blank-poster-frames-gray-wall-mockup-modern-luxury-interior-design-with-dark-blue-sofa_180507-451.jpg" class="card-img-top chair-img" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title" id="head">Linen Blend Slip Wash Sofa</h5>
        <p id="p-shopchair" class="card-text">$ 221.00</p>
      </div>
    </div>
  </div>
  <div class="col mb-5">
    <div class="card h-100" style="border-radius: 10px";>
      <a href="/shop-sofa/18"><img src="https://image.freepik.com/free-photo/modern-fashionable-red-leather-couch-with-cushions-cropped-christmas-tree-brick-wall-loft-design_132075-6153.jpg" class="card-img-top chair-img" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title" id="head">Modern styled ChesterField Sofaa</h5>
        <p id="p-shopchair" class="card-text">$ 519.00</p>
      </div>
    </div>
  </div>
  <div class="col mb-5">
    <div class="card h-100" style="border-radius: 10px";>
      <a href="/shop-sofa/19"><img src="https://image.freepik.com/free-photo/front-view-modern-living-room_23-2148369613.jpg" class="card-img-top chair-img" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title" id="head">ChesterField Creme</h5>
        <p id="p-shopchair" class="card-text">$ 679.00</p>
      </div>
    </div>
  </div>
  <div class="col mb-5">
    <div class="card h-100" style="border-radius: 10px";>
        <a href="/shop-sofa/20"><img src="https://image.freepik.com/free-psd/minimal-living-room-with-classic-sofa-carpet-interior-design-ideas_176382-1531.jpg" class="card-img-top chair-img" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title" id="head">Scandinavian Sofaa</h5>
        <p id="p-shopchair" class="card-text">$ 780.00</p>
      </div>
    </div>
  </div>
  <div class="col mb-5">
    <div class="card h-100" style="border-radius: 10px";>
      <a href="/shop-sofa/201"><img src="https://images.pexels.com/photos/5998023/pexels-photo-5998023.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top chair-img" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title" id="head">Bridgewater Sofaa</h5>
        <p id="p-shopchair" class="card-text">$ 680.00</p>
      </div>
    </div>
  </div>

</div>
</div>




</section>


<%- include("partials/footer"); -%>
