<%- include("partials/header") -%>

<section id="chair-card">
<div class="card-deck" >
<div class="row row-cols-1 row-cols-md-4 chair-card" >
  <div class="col mb-5" >
    <div class="card h-100" style="border-radius: 10px";>
      <a href="/shop-table/21"><img src="https://images.pexels.com/photos/1668860/pexels-photo-1668860.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"  class="card-img-top chair-img" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title" id="head">Round Wooden Table</h5>
        <p id="p-shopchair" class="card-text">$ 189.00</p>
      </div>
    </div>
  </div>
  <div class="col mb-5">
    <div class="card h-100" style="border-radius: 10px";>
      <a href="/shop-table/22"><img src="https://images.pexels.com/photos/2092058/pexels-photo-2092058.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top chair-img " alt="..."></a>
      <div class="card-body">
        <h5 class="card-title" id="head">6 Seater Dining Table</h5>
        <p id="p-shopchair" class="card-text">$ 215.00</p>
      </div>
    </div>
  </div>
  <div class="col mb-5">
    <div class="card h-100" style="border-radius: 10px";>
        <a href="/shop-table/23"><img src="https://images.pexels.com/photos/238377/pexels-photo-238377.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top chair-img" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title" id="head">6 Seater rectangular Dining Table </h5>
        <p id="p-shopchair" class="card-text">$ 499.00</p>
      </div>
    </div>
  </div>
  <div class="col mb-5">
    <div class="card h-100" style="border-radius: 10px";>
      <a href="/shop-table/24"><img src="https://homestratosphere.s3.amazonaws.com/wp-content/uploads/2014/12/steeltoptable-870x870.jpeg" class="card-img-top chair-img" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title" id="head">Metal Tabletops</h5>
        <p id="p-shopchair" class="card-text">$ 350.00</p>
      </div>
    </div>
  </div>
  <div class="col mb-5">
    <div class="card h-100" style="border-radius: 10px";>
      <a href="/shop-table/25"><img src="https://homestratosphere.s3.amazonaws.com/wp-content/uploads/2014/12/moderntable1-870x870.jpg" class="card-img-top chair-img" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title" id="head">Modern Aesthetc Table</h5>
        <p id="p-shopchair" class="card-text">$ 279.00</p>
      </div>
    </div>
  </div>

</div>
</div>




</section>

<%- include("partials/footer") -%>
